{% set holdingURL = app.request.requesturi | split('/')[1] %}
{% set holdingURL = holdingURL != '' ?   "/" ~ holdingURL : '/dallas' %}                                             
{% set holdingCity = holdingURL | split('-')[0] | trim('/', 'left') %}
{% set wasNY = holdingCity == 'ny' ? true : false %}
{% set holdingCity = wasNY ? 'nyc' : holdingCity  %}

{% setcontent isHoldingCity = 'city' where {slug: holdingCity} limit 1 returnsingle %}
{% setcontent page = 'homepage' limit 1 returnsingle %}

{# {% setcontent venue = 'venue/first/1' limit 1 returnsingle %} #}
{% if isHoldingCity.holdingsiteextreme|default %}
  {% set extendedTemplate = "templates/_holdingextreme.twig" %}
{% else %}
  {% set extendedTemplate = "templates/_master.twig" %}
{% endif %}
{% extends extendedTemplate %}



{% block heroHeader %}
	<section class="es_section es_sec__home-hero re_no-padding-bot--mobile">
		<div class="es_content__container es_content__container--1260 re_flex re_flex--content-center es_oveflow--reset">
			<div class="re_no-padding--desktop re_flex--all re_align-center es_sec__home-hero__content  re_flex--col re_flex--self-center re_flex--items-center re_pos--relative">
				{% if city.holdingsite %}
          <img class="es_home-logo" src="{{ asset(city.comingsoonimage, 'files') }}">
				{% endif %}
			</div>

		</div>
	</section>
{% endblock heroHeader %}


{% block main %}
{% endblock main %}

{% block afterBanners %}

	{% if city.holdingsite %}
		{{ include('partials/_map.twig') }}
	{% endif %}

{% endblock afterBanners %}

